<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

Olá <%= @user.name %> "<%= @user.nick_name %>" <%= @user.last_name %>,<br>

<br><br>Recebemos seu contato e assim que possível um membro da equipe responderá,

<br>Agradecemso o contato,

<br>Equipe LBEE

<br><br>---
<br>Este é um email automatico.

</body>
</html>