<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
Olá <%= @user_to.name %>, o usuario <%= @user_from.name %> enviou um convite para o time.<br><br>
<p>
  Para aceitar clique aqui https://lbee.herokuapp.com/team/userconfirmation/<%= @invite.invite_token %><br>
</p>

<br>Equipe LBEE

<br><br>---
<br>Este é um email automatico.

</body>
</html>