<!-- Begin page Content -->
<section class="container clear clearfix gray-bg">
	<!-- News Itens -->
	<div class="clearfix">
		<div class="col-10">
			<!-- Caption -->
			<h1 class="caption-news" style="width: 155px;">Sobre</h1>
			<div class="liga-big"><img src="/assets/liga-big" alt=""></div>
			<div class="caption-no-bg">
				<h1>Somos a LBEE!</h1>
				<h2>A 1ª Liga Brasileira de Esportes Eletrônicos.</h2>
				<p>
                  A Liga Brasileira de Esportes Eletrônicos surgiu de um sonho entre amigos de tornar o cenário Brasileiro de E-Sports uma potência mundial. Apaixonados pela emoção e competitividade, somos gamers como tantos nesse Brasil, que anseiam por algo melhor neste cenário.
                </p>
              <p>
                  Após a consolidação do Mercado de Esportes Eletronicos (e-Sports) na Ásia, na Europa e nos EUA, os Jogos Eletrônicos ganharam muita força na América do Sul, principalmente no Brasil. Com a ascensão do Mercado, o número de Players Brasileiros cresceu absurdamente.
              </p>
              <p>
                Diante deste cenário de mega eventos, que quebra recordes históricos, a LBEE irá proporcionar aos gamers experiencias jamais vistas no pais. Eventos virtuais e presenciais, que contam com a estrutura de rankeamento e organização, são a nossa especialidade.
              </p>
              <p>
                Temos o compromisso de levar competitividade saudável, inovação, experiências, emoções para o universo de jogos eletrônicos.
              </p><br><br><br><br>
			</div>
		</div>
		<!-- Begin Tables -->
		<%= render 'layouts/tables' unless @admin_style %>
	</div>
</section>