<script src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- Begin Main Section -->
<section class="container clear clearfix gray-bg">
	<!-- Video Spotlight -->
	<div class="col-3 video-wrapper">
		<h1 class="caption" style="width: 355px;">Campeonatos</h1>
		<div class="games-carousel-wrapper" id="slider2">
		  	<!--<ul>
				<li class="item"><a href="#"><img src="/assets/dota-champ" alt="Dota 2 - Campeonatos"></a></li>
				<li class="item"><a href="#"><img src="/assets/lol-champ" alt="Lol - Campeonatos"></a></li>
				<li class="item"><a href="#"><img src="/assets/heroes-champ" alt="Heroes - Campeonatos"></a></li>
				<li class="item"><a href="#"><img src="/assets/smite-champ" alt="Smite - Campeonatos"></a></li>
		  	</ul>-->
			<!--<div class="item"><img src="/assets/dota-champ" alt="Dota 2 - Campeonatos"></div>
			<div class="item"><img src="/assets/lol-champ" alt="Lol - Campeonatos"></div>
			<div class="item"><img src="/assets/heroes-champ" alt="Heroes - Campeonatos"></div>
			<div class="item"><img src="/assets/smite-champ" alt="Smite - Campeonatos"></div>-->
			<!--<div class="pager">
				<i class="fa fa-arrow-left control_prev"></i>
				<i class="fa fa-arrow-right control_next"></i>
			</div>-->
		</div>
	</div>
	<!-- Begin Tables -->
	<%= render 'layouts/tables' unless @admin_style %>
</section><!-- End Main Section -->