<div class="wrapper"></div>
<!-- Begin page Content -->
<section class="container clear clearfix gray-bg">
	<!-- News Itens -->
	<div class="clearfix">
		<div class="col-10">
			<!-- Caption -->
			<h1 class="caption-news" style="width: 220px;">Notícias</h1>

			<a href="/news/index" class="back-arrow"><i class="fa fa-arrow-left"></i></a>
			<div class="caption-subtitle">
				<h2>LOL Domina o mundo</h1>
				<h3>Milhões ao redor do mundo assitem as finais</h3>
				<img src="/assets/lol_news.jpg" alt="">
				<p>
					Nulla eros ligula, dapibus sollicitudin justo in, sagittis sagittis lectus. Etiam mattis mi viverra scelerisque pulvinar. Maecenas orci justo, aliquam vitae lorem ac, facilisis lobortis sapien. In hac habitasse platea dictumst. Etiam id dapibus lacus. In pulvinar enim sapien, eu interdum libero pulvinar in. Mauris sed orci dictum, congue elit consectetur, accumsan odio. Nunc et maximus enim. Nullam pulvinar efficitur ipsum sed sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent non nisl eros. Nunc non placerat orci. Morbi lacinia eu urna ut interdum.
					<br><br>
					Nulla eros ligula, dapibus sollicitudin justo in, sagittis sagittis lectus. Etiam mattis mi viverra scelerisque pulvinar. Maecenas orci justo, aliquam vitae lorem ac, facilisis lobortis sapien. In hac habitasse platea dictumst. Etiam id dapibus lacus. In pulvinar enim sapien, eu interdum libero pulvinar in. Mauris sed orci dictum, congue elit consectetur, accumsan odio. Nunc et maximus enim. Nullam pulvinar efficitur ipsum sed sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent non nisl eros. Nunc non placerat orci. Morbi lacinia eu urna ut interdum.
				</p>
			</div>
			
		</div>
		<!-- Begin Tables -->
		<%= render 'layouts/tables' unless @admin_style %>
	</div>
</section>