<!-- Rankings -->
<div class="table-wrapper">
	<div class="table-body">
		<!-- Begin Tabs -->
		<div class="table-tabs">
			<ul class="tabs hide">
				<li><a href="#dotaTab" class="active">Dota</a></li>
				<li><a href="#lolTab">League of Legends</a></li>
				<li><a href="#csgoTab">CS:GO</a></li>
			</ul>					
		</div>
		<!-- End Tabs -->
		<table class="table" id="dotaTab">
          <div class="hide"><%= link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_noborder.png"), '/auth/steam' %></div>
          	<!--<thead>
				<th colspan="4">Partidas</th>
			</thead>-->
			<div class="table-title clearfix">
			  <div class="title-wrap">Partidas</div>

			  <ul>
				<li><i class="fa fa-bars" id="popUpBar"></i></li>

				<li><i class="fa fa-cogs" id="popUpCog"></i></li>
				<div class="cogs-popup">
				  <ul>
					<li><a href="#">Lorem Ipsum</a></li>
					<li><a href="#">Lorem Ipsum</a></li>
				  </ul>
				</div>
			  </ul>

			</div>
          <div class="table-description">
            <!--<small>You Play In: Liga Brasileira de Esportes Eletrônicos</small>-->
            <small>Aguarde em breve!</small>
          </div>
			<tbody id="table">
				<!--<tr>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>vs.</td>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>live <i class="fa fa-play redish"></i> <span class="redish"><a href="#">2</a></span></td>
				</tr>-->
				<!--<tr>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>vs.</td>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>postp</td>
				</tr>
				<tr>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>vs.</td>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>4H 30M <i class="fa fa-play grayish"></i> <span class="grayish"><a href="#">1</a></span></td>
				</tr>
				<tr>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>vs.</td>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>3:1</td>
				</tr>
				<tr>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>vs.</td>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>3:1</td>
				</tr>
				<tr>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>vs.</td>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>3:1</td>
				</tr>
				<tr>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>vs.</td>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>3:1</td>
				</tr>
				<tr>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>vs.</td>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>3:1</td>
				</tr>
				<tr>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>vs.</td>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>3:1</td>
				</tr>
				<tr>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>vs.</td>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>3:1</td>
				</tr>
				<tr>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>vs.</td>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>3:1</td>
				</tr>-->
			</tbody>
		</table><!-- End Partidas Table -->
	</div><!-- End Table Body -->
	<!-- Begin Table Body -->
	<div class="table-body-liga">
		<!-- Begin Sua Liga Table -->
		<table class="table" id="dotaTab">
          <div class="hide"><%= link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_noborder.png"), '/auth/steam' %></div>
          	<!--<thead>
				<th colspan="4">Sua Liga</th>
			</thead>-->
			<div class="table-title dropdown clearfix">
			  <div class="title-wrap">Sua Liga</div>
			  <ul>
				<li><i class="fa fa-bars" id="popUpBar2"></i></li>

				<li><i class="fa fa-cogs" id="popUpCog"></i></li>
				<div class="cogs-popup">
				  <ul>
					<li><a href="#">Lorem Ipsum</a></li>
					<li><a href="#">Lorem Ipsum</a></li>
				  </ul>
				</div>
			  </ul>
			</div>
			<div class="table-description">
				<!--<small>You Play In: Liga Brasileira de Esportes Eletrônicos</small>-->
              <small>Aguarde em breve!</small>
			</div>
			<!--<tr class="liga-thead">
				<td>#</td>
				<td>Time</td>
				<td>ML</td>
			</tr> in-->
			<tbody id="table2">
				<!--<tr>
					<td>1.</td>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>5/1</td>
				</tr>-->
				<!--<tr>
					<td>1.</td>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>5/1</td>
				</tr>
				<tr>
					<td>1.</td>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>5/1</td>
				</tr>
				<tr>
					<td>1.</td>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>5/1</td>
				</tr>
				<tr>
					<td>1.</td>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>5/1</td>
				</tr>
				<tr>
					<td>1.</td>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>5/1</td>
				</tr>
				<tr>
					<td>1.</td>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>5/1</td>
				</tr>
				<tr>
					<td>1.</td>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>5/1</td>
				</tr>
				<tr>
					<td>1.</td>
					<td>
						<img src="/assets/br_flag" alt="Brasil">
						Vega
					</td>
					<td>5/1</td>
				</tr>-->
			</tbody>
		</table><!-- End Sua liga Table -->
	</div><!-- End Table Body -->
</div><!-- End Rankings -->